@import "tailwindcss";

body {
    font-family: 'Cooper', sans-serif;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  opacity: 0;
  animation: fadeSlideUp 0.8s ease-out forwards;
  animation-delay: var(--delay, 0s);
}

/* ::selection{
  @apply bg-tertiary text-white;
} */

html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}